<ul data-role="listview" data-theme="c" data-dividertheme="b" data-inset="true" class="event_list">
<% @events.each_with_index do |event,i| %>
    <li <%= 'class="alt"' if i%2==1 %>>
		<a href="/event/<%= event.id %>" data-rel="dialog">
        <h3><%= event.title %></h3>
		<p><%= event.description %></p>
        <div>
            <p>Where: <%= event.location %></p>
    		<p>
                <%= event.start_date ? 'From ' + nice_date(event.start_date):'' %>
                <%= (!event.all_day && event.start_time) ? ' at ' + nice_time(event.start_time):'' %>
                <%= event.end_date ? ' to ' + nice_date(event.end_date):'' %>
                <%= (!event.all_day && event.end_time) ? ' at ' + nice_time(event.end_time):'' %>
                <%= event.all_day ? '(all day)':'' %>
            </p>
    		<p><%= event.private_event ? '(private)':'' %><p>
            <p>Who is coming: <%= event.guest_list %><p>
        </div>
    	<a href="/event/<%= event.id %>/delete" class="btn" data-icon="delete">delete</a>
	</li>
<% end %>
</ul>
